---
import bgImage from "../../../assets/images/electromecha.webp";

import { getLangFromUrl, useTranslations } from "../../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="electromechanical"
  data-menu-color="white"
  class="min-h-screen bg-cover bg-center flex items-center text-white justify-center py-20"
  style={`background-image: linear-gradient(to left, #045ca4 40%, #045ca400), url(${bgImage.src});`}
>
  <div class="container">
    <div
      class="grid gap-10 text-white max-w-[520px] 3xl:gap-[2.5vw] 3xl:max-w-[30.25vw] ml-auto text-right"
    >
      <h2
        class="text-5xl font-black uppercase max-md:text-3xl whitespace-pre-line"
        data-animate
        data-y="-50"
      >
        {t("electromecha.title")}
      </h2>
      <p
        class="text-lg max-md:text-base text-justify"
        data-animate
        data-x="-50"
      >
        {t("electromecha.content")}
      </p>
      <div
        class="grid border-t border-white"
        data-animate
        data-y="30"
        data-duration="0.7"
      >
        <div
          class="uppercase py-3 3xl:py-[0.75vw] font-bold border-b border-white"
          data-animate
          data-y="30"
          data-duration="0.7"
        >
          {t("electromecha.action_1")}
        </div>
        <div
          class="uppercase py-3 3xl:py-[0.75vw] font-bold border-b border-white"
          data-animate
          data-y="30"
          data-duration="0.7"
        >
          {t("electromecha.action_2")}
        </div>
        <div
          class="uppercase py-3 3xl:py-[0.75vw] font-bold border-b border-white"
          data-animate
          data-y="30"
          data-duration="0.7"
        >
          {t("electromecha.action_3")}
        </div>
        <div
          class="uppercase py-3 3xl:py-[0.75vw] font-bold border-b border-white"
          data-animate
          data-y="30"
          data-duration="0.7"
        >
          {t("electromecha.action_4")}
        </div>
        <div
          class="uppercase py-3 3xl:py-[0.75vw] font-bold border-b border-white"
          data-animate
          data-y="30"
          data-duration="0.7"
        >
          {t("electromecha.action_5")}
        </div>
        <div
          class="uppercase py-3 3xl:py-[0.75vw] font-bold border-b border-white"
          data-animate
          data-y="30"
          data-duration="0.7"
        >
          {t("electromecha.action_6")}
        </div>
        <div
          class="uppercase py-3 3xl:py-[0.75vw] font-bold border-b border-white"
          data-animate
          data-y="30"
          data-duration="0.7"
        >
          {t("electromecha.action_7")}
        </div>
      </div>
    </div>
  </div>
</section>
