---
import bgImage from "../../../assets/images/equipment-01.webp";
import fgImage from "../../../assets/images/equipment-02.webp";

import { getLangFromUrl, useTranslations } from "../../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="equipment"
  data-menu-color="primary"
  class="min-h-screen bg-[size:auto_10vh,_cover] bg-[position:bottom,_top] bg-no-repeat flex items-center justify-center py-20"
  style={`background-image: linear-gradient(#045ca4, #045ca4), url(${bgImage.src});`}
>
  <div class="container">
    <div class="flex items-center max-lg:flex-col-reverse max-lg:gap-6">
      <div class="flex-1 self-end">
        <img
          src={fgImage.src}
          class="w-full lg:-mb-20 3xl:-mb-[5vw]"
          data-animate
          data-y="100"
        />
      </div>
      <div
        class="shrink-0 grid gap-10 3xl:gap-[2.5vw] max-w-[560px] 3xl:max-w-[35vw] ml-auto"
      >
        <h2
          class="text-5xl font-black uppercase max-md:text-3xl whitespace-pre-line text-primary text-right"
          data-animate
          data-y="-50"
        >
          {t("equipment.title")}
        </h2>
        <p
          class="text-lg max-md:text-base text-justify"
          data-animate
          data-x="-50"
        >
          {t("equipment.content")}
        </p>
        <div class="grid gap-2 3xl:gap-[0.5vw]">
          <div
            class="text-primary uppercase pb-2 border-b border-primary font-bold"
            data-animate
            data-y="-50"
          >
            {t("equipment.list")}
          </div>
          <div class="flex items-start gap-4 3xl:gap-[1vw] justify-between">
            <ul class="flex-1 pl-4 3xl:pl-[1vw]" data-animate data-x="-50">
              {
                Array.from({ length: 12 }, (_, i) => (
                  <li class="list-disc">
                    {t(`equipment.item_${i + 1}` as any)}
                  </li>
                ))
              }
            </ul>
            <ul class="flex-1 pl-4 3xl:pl-[1vw]" data-animate data-x="50">
              {
                Array.from({ length: 12 }, (_, i) => (
                  <li class="list-disc">
                    {t(`equipment.item_${i + 13}` as any)}
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
