---
import image01 from "../../../assets/images/projects/01.webp";
import image02 from "../../../assets/images/projects/02.webp";
import image03 from "../../../assets/images/projects/03.webp";
import image04 from "../../../assets/images/projects/04.webp";
import image05 from "../../../assets/images/projects/05.webp";
import image06 from "../../../assets/images/projects/06.webp";
import image07 from "../../../assets/images/projects/07.webp";
import image08 from "../../../assets/images/projects/08.webp";
import image09 from "../../../assets/images/projects/09.webp";
import image10 from "../../../assets/images/projects/10.webp";
import image11 from "../../../assets/images/projects/11.webp";
import image12 from "../../../assets/images/projects/12.webp";
import image13 from "../../../assets/images/projects/13.webp";
import image14 from "../../../assets/images/projects/14.webp";
import image15 from "../../../assets/images/projects/15.webp";
import image16 from "../../../assets/images/projects/16.webp";
import image17 from "../../../assets/images/projects/17.webp";
import image18 from "../../../assets/images/projects/18.webp";
import image19 from "../../../assets/images/projects/19.webp";
import image20 from "../../../assets/images/projects/20.webp";
import image21 from "../../../assets/images/projects/21.webp";
import image22 from "../../../assets/images/projects/22.webp";
import image23 from "../../../assets/images/projects/23.webp";
import image24 from "../../../assets/images/projects/24.webp";
import image25 from "../../../assets/images/projects/25.webp";
import image26 from "../../../assets/images/projects/26.webp";
import image27 from "../../../assets/images/projects/27.webp";
import image28 from "../../../assets/images/projects/28.webp";
import image29 from "../../../assets/images/projects/29.webp";
import image30 from "../../../assets/images/projects/30.webp";
import image31 from "../../../assets/images/projects/31.webp";
import image32 from "../../../assets/images/projects/32.webp";
import image33 from "../../../assets/images/projects/33.webp";
import image34 from "../../../assets/images/projects/34.webp";
import image35 from "../../../assets/images/projects/35.webp";
import image36 from "../../../assets/images/projects/36.webp";
import image37 from "../../../assets/images/projects/37.webp";
import image38 from "../../../assets/images/projects/38.webp";
import image39 from "../../../assets/images/projects/39.webp";
import image40 from "../../../assets/images/projects/40.webp";
import image41 from "../../../assets/images/projects/41.webp";
import image42 from "../../../assets/images/projects/42.webp";
import image43 from "../../../assets/images/projects/43.webp";
import image44 from "../../../assets/images/projects/44.webp";
import image45 from "../../../assets/images/projects/45.webp";
import image46 from "../../../assets/images/projects/46.webp";
import image47 from "../../../assets/images/projects/47.webp";
import image48 from "../../../assets/images/projects/48.webp";
import image49 from "../../../assets/images/projects/49.webp";
import image50 from "../../../assets/images/projects/50.webp";
import image51 from "../../../assets/images/projects/51.webp";
import image52 from "../../../assets/images/projects/52.webp";
import image53 from "../../../assets/images/projects/53.webp";
import image54 from "../../../assets/images/projects/54.webp";
import image55 from "../../../assets/images/projects/55.webp";
import image56 from "../../../assets/images/projects/56.webp";
import image57 from "../../../assets/images/projects/57.webp";
import image58 from "../../../assets/images/projects/58.webp";
import image59 from "../../../assets/images/projects/59.webp";
import image60 from "../../../assets/images/projects/60.webp";
import image61 from "../../../assets/images/projects/61.webp";
import image62 from "../../../assets/images/projects/62.webp";
import image63 from "../../../assets/images/projects/63.webp";
import image64 from "../../../assets/images/projects/64.webp";
import image65 from "../../../assets/images/projects/65.webp";
import image66 from "../../../assets/images/projects/66.webp";
import image67 from "../../../assets/images/projects/67.webp";
import image68 from "../../../assets/images/projects/68.webp";
import image69 from "../../../assets/images/projects/69.webp";
import image70 from "../../../assets/images/projects/70.webp";
import image71 from "../../../assets/images/projects/71.webp";
import image72 from "../../../assets/images/projects/72.webp";

export const vi = [
  {
    name: "CÔNG TY\nTHỦY ĐIỆN SƠN LA",
    address:
      "Số 56, Đường Lò Văn Giá, Tổ 3,\nPhường Chiềng Lề, Thành phố Sơn La, Tỉnh Sơn La",
    images: [image01, image02, image03],
  },
  {
    name: "CÔNG TY\nTHỦY ĐIỆN LAI CHÂU",
    address: "Thị trấn Nậm Nhùn,\nHuyện Nậm Nhùn, Tỉnh Lai Châu",
    images: [image04, image05, image06],
  },
  {
    name: "CÔNG TY\nTHỦY ĐIỆN HÒA BÌNH",
    address: "Phường Tân Thịnh, TP.Hòa Bình, Tỉnh Hòa Bình",
    images: [image07, image08, image09],
  },
  {
    name: "CÔNG TY\nTHỦY ĐIỆN HUỘI QUẢNG – BẢN CHÁT",
    address: "Bản Nà Khiết, Than Uyên, Lai Châu",
    images: [image10, image11, image12],
  },
  {
    name: "CÔNG TY TNHH\nCÔNG NGHIỆP BROTHER VIỆT NAM",
    address: "KCN Phúc Điền, Cẩm Giàng, Hải Dương",
    images: [image13, image14, image15],
  },
  {
    name: "CÔNG TY TNHH\nPANASONIC APPLIANCES VIỆT NAM",
    address: "KCN Thăng Long II, Yên Mỹ, Hưng Yên",
    images: [image16, image17, image18],
  },
  {
    name: "CÔNG TY CỔ PHẦN\nSỮA QUỐC TẾ LOF",
    address: "Thôn Đức Thịnh, Xã Tản Lĩnh, Huyện Ba Vì, TP. Hà Nội",
    images: [image19, image20, image21],
  },
  {
    name: "CÔNG TY TNHH\nTERUMO VIỆT NAM",
    address: "KCN Quang Minh,\nThị trấn Chi Đông, Mê Linh, Hà Nội",
    images: [image22, image23, image24],
  },
  {
    name: "CÔNG TY TNHH\nYUSEN LOGISTICS VIỆT NAM",
    address: "KCN Đình Vũ, Quận Hải An, TP. Hải Phòng",
    images: [image25, image26, image27],
  },
  {
    name: "CÔNG TY TNHH\nNISSEI ELECTRIC HÀ NỘI",
    address: "KCN Thăng Long, Huyện Đông Anh, TP. Hà Nội",
    images: [image28, image29, image30],
  },
  {
    name: "CÔNG TY TNHH\nB.BRAUN VIỆT NAM",
    address:
      "Cụm công nghiệp Thanh Oai,\nXã Bích Hòa, Huyện Thanh Oai, TP.Hà Nội",
    images: [image31, image32, image33],
  },
  {
    name: "CÔNG TY TNHH NƯỚC GIẢI KHÁT\nSUNTORY PEPSICO VIỆT NAM",
    address: "KCN VSIP Bắc Ninh, TP.Từ Sơn, Bắc Ninh",
    images: [image34, image35, image36],
  },
  {
    name: "CÔNG TY TNHH\nHOYA GLASS DISK VIỆT NAM",
    address: "KCN Thăng Long, Xã Võng La,\nHuyện Đông Anh, TP.Hà Nội",
    images: [image37, image38, image39],
  },
  {
    name: "CÔNG TY TNHH\nNESTLÉ VIỆT NAM",
    address:
      "Nhà máy Bông Sen- Lô đất số P1A, KCN Thăng Long II,\nPhường Dị Sử, Thị xã Mỹ Hào, Tỉnh Hưng Yên.",
    images: [image40, image41, image42],
  },
  {
    name: "CÔNG TY TNHH\nSUMIDENSO VIỆT NAM",
    address: "KCN Đại An, Phường Tứ Minh, TP.Hải Dương, Tỉnh Hải Dương",
    images: [image43, image44, image45],
  },
  {
    name: "CHI NHÁNH CÔNG TY CỔ PHẦN\nCHĂN NUÔI C.P VIỆT NAM – NHÀ MÁY\nCHẾ BIẾN SẢN PHẨM THỊT HÀ NỘI",
    address: "KCN Phú Nghĩa, Xã Phú Nghĩa, Huyện Chương Mỹ, TP.Hà Nội",
    images: [image46, image47, image48],
  },
  {
    name: "CÔNG TY TNHH\nKURODA KAGAKU VIỆT NAM",
    address: "KCN Phúc Điền, Xã Cẩm Phúc, Huyện Cẩm Giàng, Tỉnh Hải Dương",
    images: [image49, image50, image51],
  },
  {
    name: "CÔNG TY TNHH\nTOTO VIỆT NAM",
    address: "KCN Thăng Long, Huyện Đông Anh, TP. Hà Nội",
    images: [image52, image53, image54],
  },
  {
    name: "CÔNG TY CỔ PHẦN\nDIANA UNICHARM",
    address:
      "KCN Vĩnh Tuy, đường Lĩnh Nam,\nPhường Vĩnh Hưng, Quận Hoàng Mai, TP. Hà Nội",
    images: [image55, image56, image57],
  },
  {
    name: "CÔNG TY TNHH\nCÔNG NGHIỆP KYB VIỆT NAM",
    address: "KCN Thăng Long, Xã Võng La, Huyện Đông Anh, TP. Hà Nội",
    images: [image58, image59, image60],
  },
  {
    name: "CÔNG TY TNHH\nMATSUO INDUSTRIES VIỆT NAM",
    address: "KCN Thăng Long, Xã Võng La, Huyện Đông Anh, TP. Hà Nội",
    images: [image61, image62, image63],
  },
  {
    name: "CÔNG TY CỔ PHẦN THỰC PHẨM\nDINH DƯỠNG NUTIFOOD VIỆT NAM",
    address:
      "KCN Phố Nối A, Xã Lạc Hồng,\nHuyện Văn Lâm, Tỉnh Hưng Yên, Việt Nam",
    images: [image64, image65, image66],
  },
  {
    name: "CÔNG TY TNHH\nFUJI BAKELITE VIỆT NAM",
    address: "KCN Thăng Long II, Xã Liêu Xá, Huyện Yên Mỹ, Tỉnh Hưng Yên",
    images: [image67, image68, image69],
  },
  {
    name: "CÔNG TY CỔ PHẦN\nTHỰC PHẨM ĐÔNG LẠNH KIDO",
    address:
      "KCN Tây Bắc Củ Chi, ấp Cây Sộp,\nXã Tân An Hội, Huyện Củ Chi, TP. Hồ Chí Minh",
    images: [image70, image71, image72],
  },
];
---

<section id="projects" class="py-24">
  <div class="container">
    <div class="grid grid-cols-3">
      {
        vi.map((project, index) => (
          <a href={`/du-an/${index + 1}`}>{project.name}</a>
        ))
      }
    </div>
  </div>
</section>
