@keyframes slide-animation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100px);
  }
}

.hero-container .swiper .swiper-slide .swiper-img {
  width: 120%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 120vh;
  min-height: 1200px;
  animation: slide-animation 20s infinite;
  max-width: unset;

  @media screen and (max-width: 768px) {
    height: 130vh;
  }
}

@keyframes slide-animation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100px);
  }
}
