---
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
import clsx from "clsx";
import bgImage from "../../../assets/images/02.webp";
import image1 from "../../../assets/images/24.webp";
import image2 from "../../../assets/images/25.webp";
import LongArrow from "../../atoms/LongArrow.astro";
import ActionButton from "../../molecules/ActionButton.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="about"
  class={clsx(
    "h-screen flex text-white relative bg-primary overflow-hidden",
    "max-md:flex-col max-md:min-h-screen max-md:h-auto"
  )}
  data-menu-color="white"
>
  <div
    class={clsx(
      "flex-1 bg-cover bg-left bg-no-repeat flex items-center",
      "pb-10 pt-20"
    )}
    style={`background-image: linear-gradient(#0059a7cc, #0059a7cc), url(${bgImage.src});`}
  >
    <div class="container max-w-[650px] ml-auto z-10">
      <div class="max-w-[500px] mx-auto">
        <h2
          class="whitespace-pre-line text-4xl font-black uppercase mb-4 max-md:text-3xl"
        >
          {t("about.title")}
        </h2>
        <p class="whitespace-pre-line text-justify mb-7">
          {t("about.content")}
        </p>
        <ActionButton>{t("about.button")}</ActionButton>
      </div>
    </div>
  </div>

  <div
    class="flex flex-1 h-full cursor-pointer max-md:h-[80vh] max-md:min-h-[400px]"
  >
    <div
      class={clsx(
        "flex-1 flex flex-col justify-end pl-[50px] pb-[86px] bg-center bg-cover overflow-hidden relative group",
        "max-lg:pl-6 max-md:pb-6",
        "after:absolute after:bottom-0 after:left-0 after:right-0 after:h-[30%] after:pointer-events-none after:bg-gradient-to-t after:from-primary after:to-primary/0"
      )}
    >
      <div
        class="absolute inset-0 bg-center bg-cover transition-transform duration-500 group-hover:scale-110"
        style={`background-image: url(${image1.src});`}
      >
      </div>
      <div class="z-10 relative">
        <a
          class="text-[24px] uppercase whitespace-pre-line mb-2 font-semibold max-lg:text-[20px]"
        >
          {t("about.history")}
        </a>
        <LongArrow />
      </div>
    </div>

    <div
      class={clsx(
        "flex-1 flex flex-col justify-end pl-[50px] pb-[86px] bg-center bg-cover overflow-hidden relative group",
        "max-lg:pl-6 max-md:pb-6",
        "after:absolute after:bottom-0 after:left-0 after:right-0 after:h-[30%] after:pointer-events-none after:bg-gradient-to-t after:from-primary after:to-primary/0"
      )}
    >
      <div
        class="absolute inset-0 bg-center bg-cover transition-transform duration-500 group-hover:scale-110"
        style={`background-image: url(${image2.src});`}
      >
      </div>
      <div class="z-10 relative">
        <a
          class="text-[24px] uppercase whitespace-pre-line mb-2 font-semibold max-lg:text-[20px]"
        >
          {t("about.profile")}
        </a>
        <LongArrow />
      </div>
    </div>
  </div>
</section>
