---
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
import ActionButton from "../../molecules/ActionButton.astro";
import bgImage from "../../../assets/images/projects-37.webp";
import image02 from "../../../assets/images/projects-38.webp";
import image36 from "../../../assets/images/projects-39.webp";
import image37 from "../../../assets/images/projects-40.webp";
import image38 from "../../../assets/images/projects-41.webp";
import image39 from "../../../assets/images/projects-42.webp";
import ProjectList from "./ProjectList";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const projects = [
  { name: "CÔNG TY\nTHỦY ĐIỆN SƠN LA", image: image02.src },
  { name: "CÔNG TY\nTHỦY ĐIỆN LAI CHÂU", image: image36.src },
  { name: "CÔNG TY\nTHỦY ĐIỆN HÒA BÌNH", image: image37.src },
  { name: "CÔNG TY\nTHỦY ĐIỆN HUỘI QUẢNG – BẢN CHÁT", image: image38.src },
  { name: "CÔNG TY TNHH\nCÔNG NGHIỆP BROTHER VIỆT NAM", image: image39.src },
];
---

<section
  id="projects"
  class="min-h-screen pb-24 pt-40 3xl:pt-[10vw] 3xl:pb-[6vw] flex max-md:min-h-0 overflow-x-hidden bg-cover bg-center"
  data-menu-color="white"
  style={`background-image: linear-gradient(to right, #045ca4, #045ca400 50%), url(${bgImage.src});`}
>
  <div class="container mx-auto flex flex-col overflow-x-hidden">
    <div class="mb-auto grid gap-4 3xl:gap-[1vw] justify-items-start">
      <h2
        class="text-5xl max-md:text-3xl font-extrabold uppercase text-white mb-4 3xl:mb-[1vw] whitespace-pre-line"
      >
        {t("projects.title")}
      </h2>
      <a href="/du-an">
        <ActionButton class="text-white mb-12 3xl:mb-[3vw]">
          {t("projects.view_more")}
        </ActionButton>
      </a>
    </div>

    <ProjectList client:load projects={projects} />
  </div>
</section>
