---
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
import bgImage from "../../../assets/images/04.webp";
import clsx from "clsx";
import DoubleQuote from "../../atoms/DoubleQuote.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="metrics"
  class={clsx(
    "bg-primary h-screen flex items-center text-white bg-cover bg-right-bottom bg-no-repeat pb-10 pt-20",
    "max-xl:bg-left-bottom max-md:h-auto"
  )}
  style={`background-image: url(${bgImage.src});`}
  data-menu-color="white"
  data-number="4"
>
  <div class="container">
    <div class="max-w-[512px]">
      <div class="flex gap-1 mb-6 max-md:mb-4">
        <DoubleQuote class="fill-white opacity-25 max-md:w-auto max-md:h-10" />
      </div>
      <h3
        class="text-4xl mb-24 font-semibold uppercase max-md:text-3xl max-md:mb-16"
      >
        {t("metrics.title")}
      </h3>
      <div class="grid grid-cols-[auto_1fr] gap-14 max-md:gap-10">
        <div class="group grid gap-4 max-md:gap-2">
          <div
            class="font-bold text-[72px] leading-[52px] max-md:text-4xl"
          >
            +100
          </div>
          <div class="uppercase pl-[46px] max-md:pl-6">
            {t("metrics.employees")}
          </div>
        </div>
        <div class="group grid gap-4 max-md:gap-2">
          <div
            class="font-bold text-[72px] leading-[52px] max-md:text-4xl"
          >
            +10
          </div>
          <div class="uppercase pl-[46px] max-md:pl-6">
            {t("metrics.years")}
          </div>
        </div>
        <div class="group grid gap-4 max-md:gap-2 content-start">
          <div
            class="font-bold text-[72px] leading-[52px] max-md:text-4xl"
          >
            +100
          </div>
          <div class="uppercase pl-[46px] max-md:pl-6">
            {t("metrics.projects")}
          </div>
        </div>
        <div class="group grid gap-4 max-md:gap-2">
          <div
            class="font-bold text-[72px] leading-[52px] max-md:text-4xl"
          >
            +80
          </div>
          <div class="uppercase pl-[46px] max-md:pl-6">
            {t("metrics.billion")}<br />
            <span class="text-sm">{t("metrics.note")}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
