---
import clsx from "clsx";
import ChevronRight from "../atoms/ChevronRight.astro";

const { class: className } = Astro.props;
---

<button
  class={clsx(
    "h-10 px-4 border-2 border-current uppercase font-semibold flex gap-6 items-center whitespace-nowrap",
    className
  )}
>
  <slot />
  <div class="w-px bg-current h-full ml-auto"></div>
  <ChevronRight />
</button>
