---
interface Props {
  name: string;
  nameJa: string;
  className?: string;
}

const { name, nameJa, className = "" } = Astro.props as Props;
---

<div class={className}>
  <p class="text-[13px] lg:text-[15px] lg:leading-[22px] mb-[8px] whitespace-pre-line">
    {nameJa}
  </p>
  <h4 class="text-[12px] lg:text-[14px] font-URWClassico">
    {name}
  </h4>
</div>
