---
interface Props {
  price: string;
  className?: string;
}

const { price, className = "ml-auto flex-shrink-0" } = Astro.props as Props;
---

<div class={`price ${className}`}>
  <span class="text-[14px] lg:text-[20px] lg:leading-[22px] font-URWClassico">
    {price}
  </span>
</div>
