---
const { title = "", subTitle = "", link = "#" } = Astro.props;
---

<a
  href={link}
  class="group transition-transform duration-200 hover:scale-105 text-black"
>
  <h3
    class="text-[21px] heading-[29px] font-URWClassico group-hover:opacity-70 transition-all"
  >
    {title}
  </h3>
  <p
    class="text-[10px] leading-[17px] md:text-[11px] md:leading-[20px] transition-colors group-hover:opacity-70 break-keep max-w-[288px]"
  >
    {subTitle}
  </p>
</a>
