<button
  class="flex flex-col items-center gap-1 w-6 h-auto z-50"
  onclick="document.getElementById('menu').classList.remove('-translate-y-full')"
  id="menu-button"
>
  <div class="h-[3px] w-full bg-current"></div>
  <div class="h-[3px] w-full bg-current"></div>
  <div class="h-[3px] w-full bg-current"></div>
</button>
