---
import clsx from "clsx";

const menu = [
  { link: "/gioi-thieu", label: "Giới thiệu" },
  { link: "/tin-tuc", label: "Tin tức" },
  { link: "/linh-vuc-hoat-dong", label: "Lĩnh vực hoạt động" },
  { link: "/du-an", label: "Dự án" },
  { link: "/tuyen-dung", label: "Tuyển dụng" },
  { link: "/lien-he", label: "Liên hệ" },
];
---

<div
  id="menu"
  class={clsx(
    "fixed right-0 top-0 bottom-0 max-w-[400px] 3xl:max-w-[25vw] w-full z-40 transition-transform duration-500 ease-in-out translate-x-full bg-primary shadow-2xl h-[100vh] overflow-y-scroll md:overflow-y-hidden",
    "py-20 pl-6 xl:pr-24 pr-10 max-md:pr-6 grid gap-16 max-md:gap-10 content-center justify-items-end uppercase text-white",
    "3xl:py-[5vw] 3xl:pl-[2.5vw] 3xl:pr-[6vw] 3xl:gap-[4vw]",
  )}
>
  {
    menu.map((item) => (
      <a href={item.link} class="hover:font-semibold transition-all">
        {item.label}
      </a>
    ))
  }
</div>
