---
interface Props {
  color?: string;
  className?: string;
  content: string;
}

const { color = "black", className = "", content } = Astro.props as Props;
---

<div class={`feature-index w-fit h-fit ${className}`}>
  <span
    class={`flex align-items-center gap-[15px] [writing-mode:vertical-rl] text-${color} font-URWClassico text-[11px] md:text-[15px] leading-[50px] `}
  >
    {content}
    <div
      class={`w-[1px] h-[89px] bg-${color} mx-auto mt-[1rem] max-md:mt-[0.5rem]`}
    >
    </div>
  </span>
</div>
