---
import MainButton from "../molecules/MainButton.astro";

interface Props {
  textColor?: string | "dark" | "default";
  bgColor?: string | "dark" | "default";
}

const { textColor = "default", bgColor = "default" } = Astro.props as Props;

const menu = [
  {
    title: "restaurant",
    subTitle: "レストランのみのご予約",
    description: "浜名湖の恵みを味わう四季折々の優しいフレンチ",
    link: "/restaurant",
    variant: textColor,
  },
  {
    title: "wedding",
    subTitle: "特設サイト",
    description: "美食と絶景のオーベルジュウェディング",
    link: "/wedding",
    variant: textColor,
  },
];

const bgColorString =
  bgColor == "default"
    ? "bg-default/10 hover:bg-default/20"
    : "bg-black/15 hover:bg-black/20";

const buttonClass = `p-2 text-${textColor} ${bgColorString}`;
---

<div class="flex flex-col gap-[9px] lg:flex-row lg:gap-8 items-start">
  {menu.map((item) => <MainButton {...item} buttonClass={buttonClass} />)}
</div>
