---
import "../../styles/hero-section.css";
import HeroSwiper from "../molecules/HeroSwiper.astro";
import PageLogo from "../molecules/PageLogo.astro";

interface Props {
  images: Array<{
    src: string;
    alt: string;
    objectPosition?: string;
  }>;
  menuColor?: string;
}

const { images = [], menuColor = "white" } = Astro.props;
---

<section class="hero" id="hero" data-menu-color={menuColor}>
  <div class="hero-container hero-section-dark relative w-full h-screen">
    <HeroSwiper
      images={images}
      autoPlay={false}
      effect="slide"
      showPagination
    />
  </div>
</section>

<PageLogo />
