---
interface Props {
  menuColor?: string;
}
const { menuColor = "white" } = Astro.props as Props;

import HeroSwiper from "../../components/molecules/HeroSwiper.astro";
import PageLogo from "../molecules/PageLogo.astro";
import SnsHeader from "../molecules/SnsHeader.astro";

import "../../styles/hero-section.css";

const heroImages = [
  {
    src: "/images/restaurant/restaurant-background-1.webp",
    alt: "Restaurant Hero Image 1",
    objectPosition: "md:object-center object-center",
  },
  {
    src: "/images/restaurant/restaurant-background-2.webp",
    alt: "Restaurant Hero Image 2",
    objectPosition: "md:object-center object-center",
  },
];
---

<section class="hero restaurant-hero" id="hero" data-menu-color={menuColor}>
  <div
    class="hero-container relative w-full h-[120vh] max-h-[1500px] max-md:h-[130vh] min-[1850px]:h-[105vh] min-[1850px]:max-h-[1500px]"
  >
    <HeroSwiper images={heroImages} autoPlay={true} interval={1500} />

    <img
      class="absolute w-full h-full object-contain object-center z-[1] top-[-40%] left-[-40%] rounded-full pointer-events-none"
      src="/assets/images/circle_fade.svg"
      alt="Circle Fade Background"
    />

    <img
      class="absolute bottom-0 left-0 w-full h-[30%] max-sm:h-[50%] z-[1] object-cover object-center"
      src="/assets/images/bottom_fade.svg"
      alt="Restaurant Background"
    />

    <div
      class="hero-inner-left absolute top-0 left-[58px] h-full w-[50px] z-20 flex flex-col justify-between max-lg:left-[40px] max-md:left-[25px]"
    >
      <div
        class="hero-inner-left-top mt-[12rem] max-[1600px]:mt-[10rem] max-md:mt-[6rem] max-sm:mb-[15rem]"
      >
        <a
          href="#"
          class="text-[15px] max-md:text-[10px] tracking-[0.02em] text-black inline-block [writing-mode:vertical-rl] [text-orientation:mixed]"
        >
          auberge.l-qs.com
        </a>
      </div>
      <div class="ml-4 text-[15px] text-black max-md:ml-2 max-md:text-[10px]">
        <a href="/stay">stay</a>
        <a href="/restaurant">restaurant</a>
        <a href="/wedding">wedding</a>
      </div>
      <div class="hero-inner-left-bottom">
        <span
          class="text-[15px] max-md:text-[10px] tracking-[0.02em] text-black inline-block [writing-mode:vertical-rl] [text-orientation:mixed] mb-[12rem] max-[1600px]:mb-[6rem] max-md:mb-[6rem] text-center"
        >
          let’s enjoy <br />lake hamanako
        </span>
      </div>
    </div>

    <div
      class="absolute
    top-[18%]
    left-[108px]
    z-20
    w-[calc(100vw-216px)]
    min-[1850px]:top-[22.25%]
    max-md:left-[80px] max-md:w-[calc(100vw-160px)] max-md:flex max-md:flex-col max-md:justify-evenly max-md:h-1/2 max-md:gap-[15vw]
    max-sm:left-[35px] max-sm:top-[200px] max-sm:w-[calc(100vw-70px)]
    max-xs:top-[150px] max-xs:h-[60%] max-xs:justify-between max-xs:gap-0"
    >
      <div
        class="flex align-items-start mb-[45rem] max-[1600px]:mb-[15rem] max-md:mb-[6rem] max-sm:mb-[21rem]
            [@media(min-height:1199px)]:mb-[40vh]"
      >
        <div class="hero-top-left">
          <img
            class="w-[490px] min-[1440px]:w-[540px] max-md:w-[240px]"
            src="/assets/images/logo-dark.webp"
            alt=""
          />
        </div>
      </div>

      <div
        class="flex items-start justify-center text-[1.25rem] max-md:text-[0.625rem]"
      >
        <div class="text-center w-[64%] font-URWClassico text-black">
          An auberge with a view where everything is in harmony with Lake
          Hamana. <br />
          Time passes leisurely as you contemplate the view before your eyes.
        </div>
      </div>
    </div>

    <div
      class="absolute top-0 right-[58px] h-[70%] w-[80px] z-[1] flex flex-col justify-between max-lg:right-[40px] max-md:right-[25px] max-sm:right-[10px]"
    >
      <div class="mt-[12rem] max-[1600px]:mt-[10rem] max-md:mt-[6rem]"></div>
      <div class="text-end">
        <span
          class="flex align-items-center gap-[1.75rem] ml-auto [writing-mode:vertical-rl] text-black font-URWClassico"
        >
          scroll down
          <div
            class="w-[1px] h-[197px] bg-black mx-auto mt-[1rem] max-md:mt-[0.5rem]"
          >
          </div>
        </span>
      </div>
    </div>
  </div>
</section>

<SnsHeader
  class="absolute top-[114px] right-10 md:top-[115px] md:right-16 z-20"
/>

<PageLogo />
