---
import bgImage from "../../../assets/images/08.webp";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="hero"
  data-menu-color="white"
  class="h-screen max-md:max-h-[400px] bg-cover bg-center flex items-center max-md:items-end py-10"
  style={`background-image: url(${bgImage.src});`}
>
  <div class="container">
    <h2
      class="whitespace-pre-line text-5xl font-bold uppercase mb-4 max-md:text-3xl text-white leading-none"
      data-animate
      data-y="50"
    >
      {t("introduction.title")}
    </h2>
    <div class="uppercase text-white" data-animate data-x="-50">
      <a href="/">{t("home.title")}</a>
      <span>-</span>
      <strong>{t("introduction.title")}</strong>
    </div>
  </div>
</section>
