---
import bgImage from "../../../assets/images/09.webp";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="messages"
  data-menu-color="primary"
  class="h-screen max-md:h-auto relative"
>
  <div
    class="md:absolute min-h-[400px] inset-0 bg-cover bg-center max-md:bg-right-bottom flex items-center"
    style={`background-image: url(${bgImage.src});`}
  >
  </div>
  <div class="container !max-w-[1500px] 3xl:!max-w-[80vw] relative h-full">
    <div
      class="bg-white/80 md:w-2/3 lg:w-1/2 h-full flex flex-col justify-center 3xl:px-[4vw] 3xl:gap-[2.5vw] xl:px-16 px-8 gap-10 max-md:py-10"
    >
      <div class="grid gap-2 3xl:gap-[0.5vw]">
        <h3
          class="text-3xl font-medium uppercase max-md:text-xl text-primary"
          data-animate
          data-y="50"
        >
          {t("messages.subtitle")}
        </h3>
        <h2
          class="text-5xl font-black uppercase max-md:text-3xl text-primary"
          data-animate
          data-x="-50"
        >
          {t("messages.title")}
        </h2>
      </div>

      <div class="flex items-center">
        <div
          class="shrink-0 size-2 3xl:size-[0.5vw] bg-primary rounded-full"
          data-animate
        >
        </div>
        <div
          class="flex-1 h-px 3xl:h-[0.0625vw] bg-primary origin-left"
          data-animate
          data-scale-x="0"
        >
        </div>
      </div>

      <p class="whitespace-pre-line text-justify" data-animate data-y="50">
        <strong class="font-semibold">{t("messages.headline")}</strong>
        <br /><br />
        {t("messages.content")}
      </p>

      <div class="text-primary uppercase" data-animate data-y="50">
        <div class="text-2xl font-bold max-md:text-lg">
          {t("messages.ceo.name")}
        </div>
        <div>
          {t("messages.ceo.title")}
        </div>
      </div>
    </div>
  </div>
</section>
