---
import bgImage from "../../../assets/images/10.webp";
import bgImage2 from "../../../assets/images/28.webp";
import image1 from "../../../assets/images/26.webp";
import image2 from "../../../assets/images/27.webp";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="hero"
  data-number="4"
  data-menu-color="white"
  class="min-h-screen max-md:min-h-0 max-md:py-40 bg-[size:contain,_cover] bg-no-repeat bg-[position:bottom,_center] flex items-center"
  style={`background-image: url(${bgImage2.src}), url(${bgImage.src});`}
>
  <div class="container !max-w-[1500px] mb-20">
    <div
      class="flex items-start lg:items-center lg:gap-32 gap-16 max-md:gap-8 max-md:grid"
    >
      <div
        class="flex-1 flex max-md:flex-row max-lg:flex-col items-start gap-8 justify-between lg:max-h-60"
      >
        <img src={image1.src} alt="" class="max-lg:h-64 h-[50vh] self-center" />
        <div class="text-right space-y-10 text-white max-w-96">
          <h2 class="text-4xl font-bold uppercase max-md:text-3xl">
            {t("vision.title")}
          </h2>
          <p class="text-lg max-md:text-base text-justify">
            {t("vision.content")}
          </p>
        </div>
      </div>
      <div
        class="flex-1 flex max-md:flex-row max-lg:flex-col-reverse items-start gap-8 justify-between lg:max-h-60"
      >
        <div class="space-y-10 text-white max-w-96">
          <h2 class="text-4xl font-bold uppercase max-md:text-3xl">
            {t("mission.title")}
          </h2>
          <p class="text-lg max-md:text-base text-justify">
            {t("mission.content")}
          </p>
        </div>
        <img src={image2.src} alt="" class="max-lg:h-64 h-[50vh] self-center" />
      </div>
    </div>
  </div>
</section>
